* {
  margin: 0;
  padding: 0;
  border: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.nav-logo {
  height: 50px;
  width: 100px;
  margin: 5px;
}
.logo {
  background-image: url(img/amazon_logo.png);
  background-size: cover;
  height: 50px;
  width: 100px;
}
.border {
  border: 1px solid transparent;
}
.border:hover {
  border: 1px solid white;
}
.nav-address {
  width: 70px;
  height: 40px;
  padding: 5px;
}
.add-one {
  font-size: 0.8rem;
  color: #cccc;
  margin-left: 15px;
}
.add-sec {
  font-size: 1rem;
  color: #fff;
  margin-left: 3px;
  align-items: center;
}
.add-icon {
  display: flex;
  align-items: center;
}
.nav-search {
  display: flex;
  justify-content: space-evenly;
  width: 620px;
  height: 40px;
  border-radius: 4px;
}
.search-select {
  background-color: #e6e6e6;
  width: 60px;
  font-size: 0.65rem;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}

.saerch-input {
  width: 100%;
  font-size: 1rem;
  border: none;
  outline: none;
  padding-left: 5px;
}
.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  background-color: #febd69;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #0f1111;
}
.nav-search:hover {
  border: 2.5px solid #ff9900;
  border-radius: 4px;
}

.nav-len {
  width: 73px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-selectlen {
  background-color: transparent;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  outline: none;
}
.nav-singin {
  padding: 5px;
}
.nav-return {
  padding: 5px;
}
.nav-cart {
  padding: 5px;
}
span {
  font-size: 0.7rem;
}
.nav-sec {
  font-size: 0.85rem;
  font-weight: 700;
}
.nav-cart i {
  font-size: 30px;
}
.nav-cart {
  font-size: 15px;
  font-weight: 700;
}
.panel {
  height: 40px;
  background-color: #222f3d;
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-evenly;
}
.panel-all {
  display: flex;
  align-items: center;
  padding: 5px;
}
.panel-all i {
  margin: 4px;
  font-size: 20px;
}
.panel-ops {
  display: flex;
  font-size: 0.85rem;
}
.panel-ops p {
  display: inline;

  padding: 9px;
}
.panel-priem {
  display: flex;
  align-items: center;
}
.panel-select {
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  padding: 10px 5px 10px 10px;
}
.hero-section {
  background-image: url(img/hero_image.jpg);
  background-size: cover;
  height: 380px;
  display: flex;
  justify-content: space-between;
  /* display: flex;
  justify-content: center;
  align-items: flex-end; */
}
.previous {
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.next {
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.npimg {
  width: 40px;
  height: 65px;
  background-position: center;
  background-size: cover;
}
.hero-text {
  background-color: white;
  color: black;
  width: 80%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  margin-bottom: 25px;
}
.hero-text a {
  color: #007185;
}
.shop-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e2e7e6;
}
.box {
  height: 400px;
  width: 23%;
  background-color: white;
  padding: 20px 0px 15px;
  margin: 15px;
}
.box-content {
  margin-left: 10px;
  margin-right: 10px;
}

.box-img {
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-bottom: 10px;
}
.box-content p {
  color: #007185;
}
footer {
  margin-top: 15px;
}
.foot-panel1 {
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
}
.foot-panel2 {
  color: white;
  background-color: #222f3d;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
}
ul {
  margin-top: 50px;
}
ul p {
  font-size: 16px;
}
ul a {
  display: block;
  font-size: 14px;
  color: #dddddd;
  margin-top: 10px;
}
.foot-panel3 {
  border-top: 1px solid #3a4553;
  background-color: #222f3d;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  background-image: url(img/amazon_logo.png);
  background-size: cover;
  height: 50px;
  width: 100px;
}
.foot-panel4 {
  background-color: #131a22;
  color: #dddddd;
  height: 76px;
  font-size: 12px;
  text-align: center;
}
.pages {
  padding-top: 20px;
}
.pages a {
  margin-left: 15px;
}
.copyright {
  padding: 5px;
}
.fresh-logo {
  position: relative;
  height: 31px;
  width: 81.75px;
  width: 81.75px;
  padding: 0px 11px;
  font-size: 12px;
  line-height: 33px;
  float: left;
}
.freshlogo {
  background-image: url(img/fresh.png);
  background-size: cover;
  max-width: 125px;
  height: 25px;
  padding: 0px 0px 4px 5px;
  max-height: 25px;
}
.panel-fresh {
  display: flex;
  font-size: 12px;
  background-color: #febd69;
  justify-items: center;
  align-items: center;
  height: 46px;
  border-top: 8px solid #77bc1f;
  background-color: #ffffff;
}
.panel-fresh p {
  display: inline;
  text-align: center;
  align-items: center;
  padding: 9px;
}
